<section class="<%= item.layout %>" itemscope itemprop="blogPost">
    <div id="main-col" class="alignleft">
    <time datetime="<%= date_xml(item.date) %>" itemprop="datePublished">
      <a href="<%- config.root %><%- item.path %>" title="<%= item.title %>" itemprop="url"  class="article-time"><%= item.date.format(config.date_format) %></a>
    </time>
  <h1 itemprop="name" class="arch">
  <% if (item.link) { %>
    <a href="<%- item.link %>" target="_blank"><span><%= item.link %></span></a>
  <% } else{ %>
    <a href="<%- config.root %><%- item.path %>" title="<%= item.title %>" itemprop="url">
        <span>
            <%= item.title %>
        </span>
    </a>
  <% } %>
</h1>
</div>
</section>